<a href="https://colab.research.google.com/github/PRADEEPDECE/SHAPEAI/blob/main/Titanic%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Library

In [29]:
import pandas as pd
import numpy as np

Load Dataset (Titanic) and showing structure

In [44]:
df=pd.DataFrame(pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv'))
df.head()
df.shape

(891, 12)

Handling Null values with drop  greater than 35% and Fill mean value instead of null value

In [46]:
df.isnull().sum()
drop_col=df.isnull().sum()[df.isnull().sum()>(35/100 * df.shape[0])]
drop_col
drop_col.index
df.drop(drop_col.index,axis=1, inplace=True)
df.isnull().sum()
df.fillna(df.mean(),inplace=True)
df.isnull().sum()
df['Embarked'].describe()
df['Embarked'].fillna('S',inplace=True)
df.isnull().sum()
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

Family

In [47]:
df['FamilySize']= df['SibSp']+df['Parch']

Family size

In [48]:
df.drop(['SibSp','Parch'],axis=1,inplace=True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.033207  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.069809  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.331339 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  1.000000  0.091566   -0.248512
Fare            0.012658  0.257307 -0.549500  0.091566  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.248512  0.217138    1.000000

Person Alone

In [49]:
df['Alone']= [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 11 columns]

Person Alone with survival

In [35]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

Alone Fare correlation and comparison

In [36]:
df[['Alone','Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

Male Female comparison

In [39]:
df['Sex']= [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()

Sex
1    0.383838
Name: Survived, dtype: float64

Embarked survival

In [40]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64